.App {
  text-align: center;
  display: flex;
  font-size: 1.6rem;
  .content-container {
    width: 85vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    // grid-gap: 1%;
    grid-template-areas:
      "weather-container weather-container weather-container tasks-container"
      ". . . tasks-container"
      ". . . tasks-container"
      "graph-container graph-container graph-container tasks-container"
  }
}
