$contribution-green: #1DB954;
$lightmode-content: #ededed;
$darkmode-content: #121212;
$lightmode-background: #FFFFFF;
$darkmode-background: #2A2A2A;
$lightmode-header: #000000;
$darkmode-header: #FFFFFF;
$lightmode-text: #000000;
$darkmode-text: #A8A8A8;