.Weather--dark {
    grid-area: weather-container;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: .5rem;
    border-radius: .5rem;
    background-color: $darkmode-content;
    display: flex;
    font-size: 1.2rem;
    .current-img-container {
        width: 20%;
        img {
            height: 100%;
            align-self: center;
        }
    }
    .weather-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        h3 {
            color: $darkmode-header;
            font-size: 3.6rem;
        }
    }
    .weather-forecast {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        p {
            position: relative;
            top: 5px;
            &:nth-of-type(2) {
                top: -5px;
            }
        }
        img {
            height: 6.5rem;
        }
    }
}

.Weather--light {
    grid-area: weather-container;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: .5rem;
    border-radius: .5rem;
    background-color: $lightmode-content;
    display: flex;
    font-size: 1.2rem;
    .current-img-container {
        width: 20%;
        img {
            height: 100%;
            align-self: center;
        }
    }
    .weather-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        h3 {
            color: $lightmode-header;
            font-size: 3.6rem;
        }
    }
    .weather-forecast {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        p {
            position: relative;
            top: 5px;
            &:nth-of-type(2) {
                top: -5px;
            }
        }
        img {
            height: 6.5rem;
        }
    }
}
